* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: white;
    box-sizing: border-box;
    font-family: 'Poppins';
}

.body {
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.main-header {
    background-color: #1da2bd;
    width: 100%;
    padding: 15px;
    display: flex;
    justify-content: center;
}

.container {
    width: 93%;
    display: flex;
    align-items: center;
}

.logo img {
    max-width: 180px;
    height: auto;
    display: block;
    border: none;
}

.menu {
    display: flex;
    flex-grow: 1;
    gap: 30px;
}

.left-menu {
    margin-left: 60%;
    display: flex;
    gap: 20px;
}

.left-menu a {
    text-decoration: none;
    color: white;
}

.left-menu a:hover {
    font-weight: bold;
}

.left-menu .bold {
    font-weight: bold;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 40px 20px;
}

.top-content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    width: 100%;
    flex-wrap: wrap;
}

.sms-card {
    background: #f8f9fa;
    width: 100%;
    max-width: 550px;
    padding: 40px;
    border: 1px solid #e8e9ed;
    border-radius: 12px;
    text-align: center;
}

.sms-title {
    color: #2c3e50;
    font-size: 32px;
    margin-bottom: 10px;
}

.sms-status {
    color: #1da2bd;
    font-size: 16px;
    margin-bottom: 30px;
}


.input-box {
    text-align: left;
    margin-bottom: 20px;
}

.input-box label {
    color: #666;
    font-weight: bold;
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

.input {
    width: 100%;
    border: 1px solid #e0e0e0;
    padding: 12px;
    border-radius: 6px;
    color: #333;
    background: #fff;
}

.sms-btn {
    background-color: #1da2bd;
    color: white;
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

.photo img {
    width: 600px;
    height: auto;
    object-fit: contain;
    border-radius: 12px;
    display: block;

    pointer-events: none;
    user-select: none;
    -webkit-user-drag: none;
}

#extra-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    width: 100%;
    flex-wrap: wrap;
}

.calculator-background {
    background-color: #1da2bd;
    padding: 20px 15px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.row {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 8px;
}

.result {
    width: 100%;
    height: 45px;
    margin-bottom: 12px;
    background: #ffffff;
    color: #000000;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    border-radius: 8px;
    max-width: 205px;
    overflow: hidden;
}

.my-btn {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: none;
    background: #77f2f2;
    color: #01064a;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s;
}

.my-btn:active {
    transform: scale(0.95);
}

.my-btn.execute {
    width: 98px;
    border-radius: 25px;
}

.main-footer {
    background-color: #b2bac376;
    width: 100%;
    min-height: 120px;
    padding: 20px 0;
    flex-shrink: 0;
    margin-top: auto;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.info {
    display: flex;
    align-items: center;
    gap: 30px;
}

.info a { color: #43484d;
    font-size: 15px;
    text-decoration: underline;
}

.adress {
    color: #0d0f10;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

.author-info {
    text-align: center;
    padding: 60px 20px;
}
.author-text, .author-head-text {
    color: #000000;
    font-size: 24px;
}

.info a:hover {
    cursor: not-allowed;
}
